.externalToolBuilders
.DS_Store
.lock-wscript
build
*.pyc
.project
.cproject
builtins
.internal

/bridge/include/fmod*
/resources/x86_64-osx/Contents/MacOS/libfmod*.dylib
/resources/x86_64-win32/fmod*.dll
/resources/x86-win32/fmod*.dll
/resources/x86_64-linux/libfmod*.so*
/resources/x86-linux/libfmod*.so*
